<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "To the Moon!", suffix: " · Kbf" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.png") %>">
  </head>
  <body>
    <%= @inner_content %>
    <script async defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
