<span class="flex items-center justify-center rounded-full text-gray-500 w-12 h-12 uppercase bg-gray-100">
  <%=
    "#{@user.first_name} #{@user.last_name}"
    |> String.split(~r{(\s|-)}, trim: true)
    |> Enum.map(&String.at(&1, 0))
    |> Enum.join("")
  %>
</span>
